body{
    /* background-color: rgb(255, 255, 255); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.calender-container{
    margin: 50px auto;
    padding: 20px;
    width: 500px;
    height: 550px;
    border: 2px solid rgb(0, 0, 0);
}

.calender-container > h1{
    font-size: 50px;
    text-align: center;
    margin-top: -5px;
}

.dates-container{
    display: grid;
    grid-template-columns : auto auto auto auto auto auto auto;
    
}

.calender-container .days ul{
    background-color: rgb(183, 190, 183);
    padding: 10px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

.calender-container .days ul .sunday::first-letter, .dates-container .sunday{
    color: rgb(255, 0, 0);
}

.dates-container .dates {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px 0;
    transition: 2s;
}

.calender-container > footer{
    font-size: 20px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 25px;
}

.dates-container .dates:hover{
    color: rgb(255, 3, 3);
    /* font-size: 30px; */
    border: 1px dashed rebeccapurple;
    border-radius: 50%;
    cursor: pointer;   
}

