body{
    background-color: rgb(241, 194, 231);
    box-sizing: border-box;
}

.first{
    height: 300px;
    width: 300px;
    background-color: aqua;
    text-indent: 1cm;
    text-align: justify;
}

.second{
    margin-top: 50px;
    background-color: aquamarine;
}


.container{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 5px;
    grid-template-areas: 
        "head head head"
        "left left right"
        "left left right"
        "left left right"
        "left left right"
    ;
}

.item{
    padding: 20px;
    border: solid 2px blue;
}

.item1{
    grid-area: head;
}

.item4{
    grid-area: right;
}

.float-test{
    background-color: rgb(75, 255, 9);
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    padding: 50px;
    border-radius: 50%;
    
}

.float-test .box1, .box2{
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    margin: 30px 20%;
}

.float-test .box1{
    float: right !important;
}

.float-test .box2{
    float: left;
}