body{
    background-color: rgb(241, 194, 231);
    
}

.first{
    height: 300px;
    width: 300px;
    background-color: aqua;
    text-indent: 1cm;
    text-align: justify;
}

.second{
    margin-top: 50px;
    background-color: aquamarine;
}


.container{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 5px;
    grid-template-areas: 
        "head head head"
        "left left right"
        "left left right"
        "left left right"
        "left left right"
    ;
}

.item{
    padding: 20px;
    border: solid 2px blue;
}

.item1{
    grid-area: head;
}

.item4{
    grid-area: right;
}